:root {
  --primary-color: #333;
  --secondary-color: #555;
  --hover-color: green;
  --logo-color: green;
  --menu-item-color: white;
  --btn-2-hover: rgb(2, 175, 2);
  --btn-2-bg-color: green;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
}

section {
  margin-top: 100px;
  padding: 0 100px;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--menu-item-color);
  padding: 0 50px;
}

nav .logo {
  text-decoration: none;
  color: var(--logo-color);
  font-size: 24px;
  cursor: pointer;
}

.entypo--aircraft-take-off {
  display: inline-block;
  margin: -3px 4px;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23005000' d='M19.87 6.453c.119.257.127 1.29-4.884 3.642l-4.913 2.306c-1.71.803-4.191 1.859-5.285 2.151c-.766.204-1.497-.316-1.497-.316S1.085 12.261.499 11.817c-.585-.444-.535-.67.215-.91c.467-.149 3.13.493 4.265.78A91.697 91.697 0 0 1 8.12 9.889c-1.396-1.033-4.008-2.962-4.841-3.55c-.799-.565.01-.768.01-.768c.368-.099 1.162-.228 1.562-.144c2.721.569 7.263 2.071 7.611 2.186a90.641 90.641 0 0 1 2.922-1.465c2.075-.974 4.327-.037 4.486.305'/%3E%3C/svg%3E");
}

.menu-list {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-grow: 1;
}

.menu-list li a {
  display: block;
  color: var(--primary-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.btn-list {
  display: flex;
  list-style: none;
}

.btn-list li {
  margin-left: 10px;
}

.btn-list li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.btn-1 {
  background-color: var(--menu-item-color);
  color: var(--primary-color);
}

.btn-2 {
  color: var(--menu-item-color);
  background-color: var(--btn-2-bg-color);
}

.btn-2:hover {
  background-color: var(--btn-2-hover);
  color: var(--menu-item-color);
}

nav li a:hover {
  background-color: var(--hover-color);
  color: var(--menu-item-color);
}

.menu-toggle {
  display: none;
  font-size: 24px;
  color: var(--primary-color);
  cursor: pointer;
}

/* hero */
.hero-section {
  margin: 40px 100px;
  border-radius: 20px;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/bg-hero-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text h1 {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
}

.hero-text h2 {
  margin: 60px 0;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
}

.hero-ticket {
  background-color: transparent;
  backdrop-filter: blur(28px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-top: 140px;
  padding: 30px 110px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.form-destination p {
  color: var(--menu-item-color);
}
.form-destination {
  display: flex;
  align-items: center;
  gap: 50px;
}

.form-destination select,
.form-destination button {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 18px;
}

.form-destination button {
  padding: 20px;
  background-color: var(--btn-2-bg-color);
  color: var(--menu-item-color);
  cursor: pointer;
}

.form-destination button:hover {
  background-color: var(--btn-2-hover);
}

/* about */
.about-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.about-img img {
  margin-left: 100px;
  width: 30%;
  height: auto;
  width: 40vw;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.about-section {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-section h1 {
  font-size: 34px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #333;
  line-height: 1.3;
}

.about-section p {
  font-size: 13px;
  margin-bottom: 20px;
  color: #666;
  line-height: 1.6;
}

.about-row {
  display: flex;
  gap: 20px;
}

.about-row-items {
  flex: 1;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Odd rows */
.about-row-items.odd {
  border-top: 2px solid var(--hover-color);
  border-right: 2px solid var(--hover-color);
}

/* Even rows */
.about-row-items.even {
  border-top: 2px solid var(--hover-color);
  border-left: 2px solid var(--hover-color);
}

.about-row-items span {
  display: block;
  font-size: 36px;
  font-weight: 700;
  color: var(--hover-color);
  margin-bottom: 10px;
}

.about-row-items h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.about-row-items p {
  font-size: 14px;
  color: #666;
}

/* service */
.service-container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 80px;
}

.service-container h1 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
  font-weight: bold;
}

.service-container span {
  color: #157107;
}

.service-content {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.service-item {
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  flex: 1 1 calc(25% - 40px);
  max-width: calc(25% - 40px);
  transition: transform 0.3s ease-in-out;
}

.service-item:hover {
  transform: translateY(-10px);
}

.service-item i {
  font-size: 40px;
  margin-bottom: 15px;
}

.service-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.service-item p {
  font-size: 14px;
}

/* detination section */
.destination-section {
  margin: 20px auto;
  width: 80%;
  position: relative;
}

.destination-section .title {
  text-align: center;
}

.destination-section .title h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--btn-2-bg-color);
}

.destination-section .title h1 {
  font-size: 35px;
}

.destination-section .title h1 span {
  color: var(--btn-2-bg-color);
}

.destination-section .card-container {
  margin: 45px 0;
  display: flex;
  align-items: center;
  position: relative;
}

.destination-section .card-list-wrapper {
  overflow: hidden;
  flex: 1;
}

.destination-section .card-list {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease;
}

.destination-section .card {
  background-color: var(--menu-item-color);
  width: 350px;
  min-width: 350px;
  height: 480px;
  flex-shrink: 0;
  border-radius: 10px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

.destination-section .card-img img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.destination-section .card-text {
  padding: 10px;
}

.destination-section .card-text .price {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-color);
  margin: 8px 0;
}

.destination-section .card-text .main {
  display: flex;
  justify-content: space-between;
}

.destination-section .card-text .main h4 {
  font-size: 18px;
  font-weight: 700;
}

.destination-section .card-text .main p {
  font-weight: 300;
  font-size: 15px;
}
.destination-section .card-text .btn-read {
  text-decoration: none;
  color: var(--menu-item-color);
  background-color: var(--btn-2-bg-color);
  width: 100px;
  border-radius: 10px;
  padding: 10px 0;
  margin: 14px 0;
}

.destination-section .card-text .btn-read a {
  text-decoration: none;
  color: var(--menu-item-color);
  display: flex;
  justify-content: center;
}

.destination-section .card-text .btn-read:hover {
  background-color: var(--btn-2-hover);
  transition: transform 0.3s ease-in-out;
}

.destination-section .btn-mundur,
.destination-section .btn-maju {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--btn-2-bg-color);
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
}

.destination-section .btn-mundur {
  left: -60px; /* Adjust as necessary */
}

.destination-section .btn-maju {
  right: -60px; /* Adjust as necessary */
}

.destination-section .card:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}

.destination-section .btn-mundur:hover,
.destination-section .btn-maju:hover {
  background-color: var(--btn-2-hover);
}

/* detination section end*/

/* footer section  */
.footer-section {
  background-color: #000; /* Black background */
  color: var(--menu-item-color); /* White text */
  padding: 20px;
  text-align: center;
}

.footer-section .logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-section .logo .entypo--aircraft-take-off {
  font-size: 24px;
  margin-left: 5px;
}

.footer-section .footer-title {
  font-size: 16px;
  margin-bottom: 20px;
}
.footer-section .social-media {
  margin: 15px 0;
}
.footer-section .social-media a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s;
}

/* .footer-section .social-media a .fb {
  background-color: #fff;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s;
} */

/* .footer-section .social-media a:hover {
  color: #ff6347; /* Hover color, e.g., tomato 
} */

/* footer section end */

@media (min-width: 577px) and (max-width: 768px) {
  nav {
    flex-direction: column;
    padding: 0 20px;
    position: relative;
    margin-top: 10px;
  }

  .logo {
    margin-top: 10px;
  }

  .menu-list,
  .btn-list {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .menu-list li,
  .btn-list li {
    text-align: center;
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .menu-list.active,
  .btn-list.active {
    display: flex;
  }

  .btn-2:hover {
    background-color: var(--btn-2-hover);
    color: var(--menu-item-color);
  }

  nav li a:hover {
    background-color: var(--hover-color);
    color: var(--menu-item-color);
  }

  .hero-text h1 {
    font-size: 22px;
  }

  .hero-text h2 {
    font-size: 17px;
    margin: 30px 0;
  }

  .hero-ticket {
    padding: 10px 30px;
  }

  .form-destination select,
  .form-destination button {
    font-size: 12px;
    padding: 10px;
  }

  .form-destination {
    gap: 15px;
    font-size: 15px;
  }

  .about-container {
    margin: 50px 50px;
    flex-direction: row;
    text-align: center;
  }

  .about-img img {
    display: none;
  }

  .about-section h1 {
    font-size: 25px;
    margin: 10px auto;
  }

  .about-section p {
    font-size: 11px;
  }

  .about-row {
    flex-direction: row;
    gap: 15px;
  }

  .about-row-items {
    border: none;
    padding: 13px;
    margin: 0 auto;
    max-width: 300px;
  }

  .about-row-items span {
    font-size: 20px;
  }

  .about-row-items h3 {
    font-size: 15px;
  }

  .about-row-items p {
    font-size: 12px;
  }

  .service-item {
    flex: 1 1 calc(50% - 40px);
    max-width: calc(50% - 40px);
  }
}
